@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Light.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}

body {
    font-family: "Noto Sans"; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

img {
    width: 100%;
}

.header {
    background-color: #fafafa;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-top .user-menu-list {
    display: flex;
    gap: 15px;
}

.header-top .logo-header {
    width: 20%;
    min-width: 150px;
}

.header-top .search {
    position: relative;
    width: 100%;
    height: 50px;
}

.header-top .search .search-bar {
    padding: 5px 5px 5px 5%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: none;
    font-size: 1.4em;
    background-color: #f4f4f4;
}

.header-top .search .search-bar:focus {
    outline: 1px solid #e7e7e7;
}

.search::before {
    position: absolute;
    top: 28%;
    left: 1.3%;
    width: 20px;
    height: 40%;
    background-image: url(/images/search.svg);
    content: "";
}

.user-menu-list .user-menu-item {
    width: 30px;
    height: 30px;
}

.user-menu img:active {
    transform: scale(0.95);
}

.main-menu {
    padding: 5px;
}

.main-menu .main-menu-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-menu-list .main-menu-item a {
    font-size: 1.2em;
    color: #292929;
    transition: color 0.2s;
}

.main-menu-list .main-menu-item a:hover{
    color: #345e80;
}

.footer {
    margin-top: auto;
    background-color: #fafafa;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
}

.footer .logo-footer {
    min-width: 75px;
    width: 10%;
    align-self: center;
}

.footer .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-nav a {
    color: #292929;
    transition: color 0.2s;
}

.footer-nav a:hover {
    color: #345e80;
}