@font-face {
    font-family: "Noto Sans";
    src: url("/fonts/NotoSans-Light.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: inherit;
}

body {
    font-family: "Noto Sans"; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

img {
    width: 100%;
}

/************ HEADER ************/

.header {
    background-color: #fafafa;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.header-top .user-menu-list {
    display: flex;
    gap: 15px;
}

.header-top .logo-header {
    width: 20%;
    min-width: 150px;
}

.header-top .search {
    position: relative;
    width: 100%;
    height: 50px;
}

.header-top .search .search-bar {
    padding: 5px 5px 5px 5%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border: none;
    font-size: 1.4em;
    background-color: #f4f4f4;
}

.header-top .search .search-bar:focus {
    outline: 1px solid #e7e7e7;
}

.search::before {
    position: absolute;
    top: 28%;
    left: 1.3%;
    width: 20px;
    height: 40%;
    background-image: url(/images/search.svg);
    content: "";
}

.user-menu-list .user-menu-item {
    width: 30px;
    height: 30px;
}

.user-menu img:active {
    transform: scale(0.95);
}

.main-menu {
    padding: 5px;
}

.main-menu .main-menu-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-menu-list .main-menu-item a {
    font-size: 1.2em;
    color: #292929;
    transition: color 0.2s;
}

.main-menu-list .main-menu-item a:hover{
    color: #345e80;
}

/************ MAIN ************/

        /************ ITEMS CARD ************/
.shop-items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0;
    gap: 15px;
}

.shop-items .item-card {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 222px;
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    overflow: hidden;
}

.item-card .item-title,
.item-card .item-price {
    padding: 0 5px;
    font-size: 1.2em;
}

.item-card .item-title {
    padding-bottom: 5px;
    cursor: pointer;
}

.item-card .item-image {
    height: 100%;
    cursor: pointer;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-bottom .btn-container {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.card-bottom .add-to-cart,
.card-bottom .add-to-wishlist,
.card-bottom .add-to-compare {
    max-width: 35px;
    max-height: 35px;
    background-color: #4681f4;
}

.card-bottom .add-to-cart,
.card-bottom .add-to-compare {
    padding: 5px;
}

.card-bottom img:hover {
    transform: translateY(5%);
}

.card-bottom img:active {
    transform: scale(0.95);
}

        /************ ITEM PAGE ************/
.shop-item {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.img-item-box {
    width: 30%;
}

.about-item-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0;
    max-width: 30%;
}

.shop-item .btn-box {
    display: flex;
    gap: 5px;
}

.btn-box button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4681f4;
    font-size: 1em;
    color: #fafafa;
    transition: background-color 1s;
}

.btn-box button:hover {
    background-color: #3c6ed1;
}

.btn-box button:active {
    transform: scale(0.99);
}

        /************ USER PAGE ************/
.user-container {
    display: flex;
    justify-content: center;
    gap: 2%;
    padding: 10px 0;
}

.user-container .sign-up,
.user-container .login {
    width: 100%;
    max-width: 400px;
}

.user-form-title {
    padding: 15px 0;
}

.user-container label {
    display: block;
}

.user-container input {
    display: block;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: #f4f4f4;
}

.user-container input[type="submit"] {
    background-color: #7457f7;
    color: #fafafa;
}

.user-container input[type="submit"]:hover {
    background-color: #6048ca;
}

.user-container input[type="submit"]:active {
    transform: scale(0.995);
}

.user-container input:focus {
    outline: 1px solid #e7e7e7;
}

.user-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/********* USER PROFILE *********/

.user-panel {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 2px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fafafa;
}

.user-panel-btn {
    border: none;
    min-height: 35px;
    font-size: 1em;
    background-color: #f4f4f4;
    cursor: pointer;
    transition: all 0.2s;
}

.user-panel-btn:hover {
    background-color: #e7e7e7;
}

.user-panel-btn:active {
    font-size: 0.95em;
}

.user-card {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fafafa;
}

.user-card .login-box {
    display: flex;
    gap: 10px;
}

.user-card .order-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fafafa;
    font-weight: bold;
    background-color: #b991e7;
    overflow: hidden;
    z-index: 1;
}

.user-card .order-container p:nth-child(2) {
    flex-grow: 1;
    padding-left: 6px;
    border-left: 2px solid #fafafa;
}

.order-history-expanded {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 0;
    gap: 5%;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #e7e7e7;
    transition: all 0.5s;
    overflow: hidden;
}

.order-history-expanded.opened {
    max-height: 100%;
    transition: all 0.5s;
}

.order-details .details-title {
    padding-top: 5px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.order-data-list li {
    padding: 5px 0;
}

.order-shopping-table {
    border-collapse: collapse;
    flex-grow: 1;
}

.order-shopping-table td, th {
    padding: 5px 0;
    border: 1px solid #e7e7e7;
}

.order-shopping-table td:nth-child(1) {
    padding-left: 5px;
}

.order-shopping-table td:not(:nth-child(1)) {
    text-align: center;
}

.order-shopping-table .bill-title {
    text-align: center;
    font-weight: bold;
}

        /************ CART ************/
.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0 5px;
    margin: 0 auto;
    max-width: 550px;
}

.cart-table {
    width: 100%;
    border: 1px solid #e7e7e7;
    border-collapse: collapse;
}

.cart-table .cart-table-header th{
    padding: 5px 0;
}

.cart-table td {
    padding: 5px;
    border: 1px solid #e7e7e7;
    
}

.cart-table tr {
    position: relative;
    height: 50px;
}

.cart-table .no-data,
.cart-table .qty-data,
.cart-table .price-data,
.cart-table .img-data,
.cart-table .delete-data {
    text-align: center;
}

.cart-table img {
    max-width: 40px;
    max-height: 40px;
}

.qty-data span {
    font-size: 1em;
    cursor: pointer;
}

.qty-data input {
    margin: 0 5px;
    max-width: 12px;
    font-size: 1em;
    text-align: center;
    border: none;
    outline: none;
}

.delete-from-cart-btn {
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.cart-to-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
}

.cart .purchase-btn {
    padding: 10px;
    align-self: flex-end;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: #fafafa;
    background-color: #33b249;
    transition: background-color 1s;
}

.purchase-btn:hover {
    background-color: #2d9c3f;
}

.purchase-btn:active {
    transform: scale(0.99);
}

.clear-cart-btn {
    color: #999999;
    text-decoration: underline;
    cursor: pointer;
}

.back-btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #f4f4f4;
    transition: 1s background-color;
}

.back-btn:hover {
    background-color: #e7e7e7;
}

.back-btn:active {
    transform: scale(0.99);
}

        /************ CHECKOUT ************/
.checkout-container {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5%;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 10px;
}

.checkout-form input {
    display: block;
    padding: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    background-color: #f4f4f4;
}

.checkout-form input:focus {
    outline: 1px solid #e7e7e7;
}

.order-info {
    align-self: flex-start;
    padding: 0 10px 10px;
    width: 100%;
    max-width: 370px;
    border-radius: 5px;
    background-color: #fafafa;
}

.order-info ul {
    padding: 10px 0;
}

.order-item {
    position: relative;
    display: flex;
    padding: 5px 0 10px;
    font-size: 1.3em;
    justify-content: space-between;
}

.order-item:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 50%;
    height: 1px;
    transform: translateX(-50%);
    opacity: 0.1;
    background-color: #292929;
}

.order-final {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-final li {
    display: flex;
    justify-content: space-between;
}

.order-final li:last-child {
    font-size: 1.3em;
}

.checkout-btn {
    float: right;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    font-weight: bold;
    color: #fafafa;
    background-color: #33b249;
    transition: background-color 1s;
}

.checkout-btn:hover {
    background-color: #2d9c3f;
}

.checkout-btn:active {
    transform: scale(0.995);
}

        /************ ABOUT US PAGE ************/
.about-title {
    padding: 5px 0 10px;
    text-align: center;
}

.about-text {
    padding: 10px 0;
    font-size: 0.8em;
    font-weight: 500;
}

.about-partners {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about-partners a {
    max-width: 100px;
}

        /************ WISHLIST PAGE ************/
.wishlist {
    padding: 10px 0;
}

.wishlist .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 700px
}

.wishlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
}

.wishlist-item-title {
    flex-grow: 1;
}

.wishlist-item-image {
    max-width: 80px;
    max-height: 80px;
}

.wishlist-tocart-btn {
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    font-weight: bold;
    color: #fafafa;
    background-color: #33b249;
    transition: background-color 1s;
    cursor: pointer;
}

.wishlist-tocart-btn:hover {
    background-color: #2d9c3f;
}

.wishlist-tocart-btn:active {
    transform: scale(0.99);
}

.wishlist-del-btn {
    text-decoration: underline;
    cursor: pointer;
}

/************ FOOTER ************/

.footer {
    margin-top: auto;
    background-color: #fafafa;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    gap: 10px;
}

.footer .logo-footer {
    min-width: 75px;
    width: 10%;
    align-self: center;
}

.footer .title {
    font-weight: bold;
    margin-bottom: 5px;
}

.footer-nav a {
    color: #292929;
    transition: color 0.2s;
}

.footer-nav a:hover {
    color: #345e80;
}

/************ NOTIFICATION ************/

.notification {
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 15px 10px;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    transition: 1s transform;
}

.notification img {
    max-width: 30px;
}

.notification p {
    flex-grow: 1;
}
